body{
  margin-top: 100px;
}

.templates-list{
  float:left;
  width : 160px;
  height: 500px;
  border: 2px solid forestgreen ;
  background-color: silver;
  text-align: :center;
  margin-left:50px;
}

.container{
	width: 1000px;
	height: 500px;
	border: 3px solid black;
  margin-left:300px;
}

.box{
   width: 120px;
   height: 120px;
   border: 1px solid black;
   border-radius: 25px;
   text-align: center;
   background-color: white;
}

.element{
  
}

.template{
   margin-left: 20px;
   margin-top: 10px;
}

.box .text{
    display: inline-block;
    border: 1px dotted green;

    position:relative;
    top:20px;
}

.outer-box{
	position:absolute;
}

.step{
	top:250px;
}