body{
  margin-top: 100px;
}

.templates-list{
  float:left;
  width : 160px;
  height: 500px;
  border: 2px solid forestgreen ;
  background-color: silver;
  text-align: :center;
  margin-left:50px;
}

.canvas{
	width: 1000px;
	height: 500px;
	border: 3px solid black;
  margin-left:300px;
}

.box{
   width: 120px;
   height: 120px;
   border: 1px solid black;
   border-radius: 25px;
   text-align: center;
   background-color: white;
}

.box .text{
    display: inline-block;
    border: 1px dotted green;

    position:relative;
    top:20px;

    padding:5px;
}

.box .image{
    width:80px;
    height:100px;

    position:relative;
    padding:5px;
}

.outer-box{
	position:absolute;
}

.templates-list .outer-box{
  position: static;
  padding-left: 20px;
  padding-top: 10px;
}

.step{
	top:250px;
}

.greenmask{
  background-color: green;
  opacity:0.5;
}

.redmask{
  background-color: red;
  opacity:0.5; 
}